a, body {
    all: unset;
}

body {
    width: 99vw;
    min-height: 99vh;
    margin: 0;
}

nav {
    position: relative;
    width: calc(100% - 2 * 1.5em);
    padding: 1em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;

    .bar {
        position: absolute;
        width: 5ch;
        height: 2px;
        bottom: 1em;
        background: red;
    }

    a {
        &.active {
            color: red;
        }
    }

    svg {
        width: 1em;
        height: 1em;

        path {
            stroke: black;
            fill: none;
            transition: all .2s ease-in-out;
        }
    }

    &.open {
        justify-content: right;

        a {
            transform: translateY(-2em);
        }

        path {
            &:nth-child(1) {
                d: path("M1,1 L3,3 L5,1");
            }
            &:nth-child(2) {
                d: path("M3,3 L3,3");
            }
            &:nth-child(3) {
                d: path("M1,5 L3,3 L5,5");
            }
        }
    }
}

mesh-wrapper {
    path {
        transition: d .1s cubic-bezier(1,0,0,1);
    }
}

graph-wrapper {
    svg {
        // height: min(100vh, 100vw);
        height: calc(100%);
        border: black 1px solid;
    }

    circle, path {
        // transition: .1s cubic-bezier(1,0,0,1);
        // transition: 10ms linear;
    }

    &.edit {
        circle, path {
            transition: none;
        }
    }
    
    circle {
        fill: rgba(72, 0, 255, 0.605);
        stroke: transparent;
        stroke-width: 4;
        r: .5;
        transition-property: cx, cy;

        // &:nth-child(2n + 1) {
        //     fill: white;
        //     stroke: rgba(72, 0, 255, 0.605);
        //     stroke-width: .2;
        // }
    }
    
    path {
        stroke: rgba(165, 165, 222, 0.3);
        stroke-width: .25;
        transition-property: d;

        // &:nth-child(2n + 1) {
        //     stroke-dasharray: 1px;
        // }
    }
}