html {
    /* 1st degree plain color */
    --c-g0: #faeae0;
    /* 2nd degree plain color */       
    --c-g1: #fffaf8;
    /* 2nd degree contrasted 1st degree plain color */         
    --c-g1-c0: #383330;
    /* 1st degree accent color */
    --c-a0: #dd2e54;
    /* 1st degree contrasted 1st degree accent color */
    --c-a0-c0: #f8f3f1;
    /* Gradient */
    --g: #dd2e54, #f5792c71;
    /* Brightness */
    --b: 110%;
}

html.dark {
    --c-g0: #121415;
    --c-g1: #111314;
    --c-g1-c0: #e4d1c6;
    --c-a0: #b2f367;
    --c-a0-c0: #131211;
    --g: #88ff0080, #75ecc980;
    --b: 70%;
}

/* html {
    --c-g0: #e0f6fa;
    --c-a0: #542edd;
    --c-a0-c0: #f5efeb;
    --g: #542eddd2, #2e8edd83;
} */

/* html {
    --c-g0: #f7e0fa;
    --c-a0: #882edd;
    --c-a0-c0: #f5efeb;
    --g: #882eddce, #2e5ddd75;
} */
