@import url(./fonts.css);
@import url(./colors.css);

* {
    padding: 0;
    margin: 0;
    font-style: normal;
    border: none;
    background: none;
    text-decoration: none;
    font-size: inherit;
    line-height: 1em;
    font-family: inherit;
    font-weight: inherit;
    color: var(--c-g1-c0);
}

strong {
    font-weight: bold;
}

body {
    --max-width: 1024px;
    background-color: var(--c-g0);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "roboto", sans-serif;
}

header,
main,
footer {
    max-width: var(--max-width);
    width: calc(100% - 2em);
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1em;
}

header, nav ul {
    gap: 2em;
}

header a:not(.active) {
    color: var(--c-g1-c0);
}

/* Main */

main {
    padding: 2em;
    margin: 0 -1em;
    max-width: calc(var(--max-width) - 4em);
    overflow: hidden;
    background-color: var(--c-g1);
    outline: 1px solid var(--c-g1-c1);
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

footer > div:not(.links) {
    border-top: 1px solid var(--c-g1-c1);
    padding-top: 1em;
}

footer > div:not(.links) ul {
    gap: .5em;
    flex-flow: row wrap;
    justify-content: right;
}

footer .links {
    padding-bottom: 1em;
    display: flex;
    gap: 2em;
}

footer .links .nav  {
    justify-self: end;
    flex-direction: column;
    justify-content: start;
    gap: .5em;
}

footer p {
    font-size: large;
    margin-bottom: .75em;
}

/* Nav */

ul.nav {
    list-style: none;
    display: flex;
}

/* Icon */

.icon {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* Images */

.bw {
    filter: saturate(0) brightness(var(--b));
}

/* Boxs */

.p-border > *,
.border {
    outline: 1px solid var(--c-g1-c0);
}

.p-rad > *,
.rad {
    border-radius: .75em;
}

/* Masks */

[is=masked-box] {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: mask-image .1s ease-in-out;
}

[is=masked-box] > * {
    position: absolute;
    width: 100%;
    height: 100%;
}

[is=masked-box] ~ * {
    position: relative;
}

/* Surfaces */

svg.surfaces {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.surfaces pattern {
    stroke: var(--c-g1-c0);
    stroke-width: 2px;
    fill: none;
}

.surface rect {
    width: 100%;
    height: 100%;
}

.surfaces #grid, .surfaces #cross {
    stroke-width: 1px;
}

/* Backgrounds */

.gradient {
    background: linear-gradient(45deg, var(--g)), url(../assets/img/noise.svg);
    color: var(--c-a0-c0);
}

.accent {
    background-color: var(--c-a0);
    color: var(--c-a0-c0);
}

.contrast {
    background-color: var(--c-g1-c0);
    color: var(--c-g1);
}

/* Texts */

.clip {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.mono {
    font-family: "monoton", sans-serif;
    font-weight: 100;
    word-spacing: .5ch;
}

.pixel {
    font-family: "pixelify", sans-serif;
    font-weight: 100;
    word-spacing: .25ch;
}

.fira {
    font-family: "firacode", sans-serif;
    font-weight: 100;
    word-spacing: .25ch;
}

h1, h2, h3, h4, p, a {
    font-weight: initial;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.25em;
}

a::after {
    position: absolute;
    content: '';
    background-color: var(--c-a0);
    width: 0%;
    height: .05em;
    bottom: 0;
    left: 0;
    transition: width .3s ease-in-out;
}

.right a::after, a.right::after {
    left:auto;
    right: 0;
}

a:hover::after, a.active::after {
    width: 100%;
}

a {
    position: relative;
    width: fit-content;
    color: var(--c-a0);
}

.filepath {
    font-family: 'firacode', sans-serif;
    color: var(--c-g1-c0);
}

.filepath a:not(:first-child)::before {
    content: '/';
    margin: 0 .5ch;
    color: var(--c-g1-c0);
}

.filepath a:not(:first-child)::after {
    left: 2ch;
    max-width: calc(100% - 2ch);
}

.load::before {
    content: '';
    color: var(--c-a0);
    margin-right: 1ch;
    animation: load .5s ease-in-out infinite;
}

@keyframes load {
    0% {
        content: '⠋';
    }
    10% {
        content: '⠙';
    }
    20% {
        content: '⠹';
    }
    30% {
        content: '⠸';
    }
    40% {
        content: '⠼';
    }
    50% {
        content: '⠴';
    }
    60% {
        content: '⠦';
    }
    70% {
        content: '⠧';
    }
    90% {
        content: '⠇';
    }
    100% {
        content: '⠏';
    }
}

/* Ascii art */

[is=ascii-text] {
    font-family: 'firacode', sans-serif;
    white-space: pre;
    overflow: hidden;
    color: var(--c-g1-c1);
}

/* Animated text */

[is=anim-text] {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: end;
    font-family: inherit;
}

[data-method=curse] {
    height: 1em;
}

[data-method=curse] span {
    width: 1ch;
}


[data-method=load] span.animated {
    color: var(--c-a0);
}

.flip span.animated {
    animation: flip .5s ease-in-out forwards;
}

@keyframes flip {
    50% {
        transform: translateX(1em) skew(-10deg);
    }
    75% {
        transform: translateX(-.2em) skew(10deg);
    }
    to {
        transform: translateX(0);
    }
}

.slide {
    overflow-y: hidden;
}

.slide span {
    opacity: 0;
    transform: translateY(2em);
}

.slide.end span {
    opacity: 1;
    transform: none;
}

.slide span.animated {
    animation: slide .5s ease-in-out forwards;
}

@keyframes slide {
    to {
        opacity: 1;
        transform: none;
    }
}

.wave span.animated {
    --amplitude: .5em; 
    animation: wave 1s ease-in-out forwards;
}

@keyframes wave {
    33% {
        transform: translateY(calc(-1 * var(--amplitude)));
        text-shadow: 
            0 calc(2 * var(--amplitude)) 0 var(--c-a0),
            0 calc(4 * var(--amplitude)) 0 var(--c-a0);
    }
    66% {
        transform: translateY(var(--amplitude));
        text-shadow: 
            0 calc(-2 * var(--amplitude)) 0 var(--c-g1-c0),
            0 calc(-4 * var(--amplitude)) 0 var(--c-g1-c0);
    }
}

/* Buttons */

button {
    --rad: .5em;
    position: relative;
    padding: .5em;
    border-radius: var(--rad);
    z-index: 1;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(.95);
}

button.border {
    outline: 1px solid var(--c-g1-c0);
}

button.border::before {
    --padding: 0px;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: var(--rad);
    outline: 1px dashed transparent;
    transition: .2s ease-in-out;
    transition-property: outline-color, top, left, padding, border-radius;
    z-index: -1;
    border-radius: calc(var(--rad) + var(--padding) / 2);
    top: calc(-1 * var(--padding));
    left: calc(-1 * var(--padding));
    padding: var(--padding);
}

button.border:hover {
    outline-color: var(--c-a0);
}

button.border:hover::before {
    --padding: 3px;
    outline-color: var(--c-a0);
}