:root {
    --r-b0: 1em;
    --p-b0: .5em;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.icon {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

button {
    font-size: 1em;
}

/* Animated text */

[is="anim-text"] {
    display: inline-block;
}

[is="anim-text"] span {
    display: inline-block;
    transition: all .1s ease-in-out;
    width: 1ch;
}

@keyframes flip {
    100% {
        transform: rotateY(-360deg);
    }
}

[is="anim-text"][data-method="fliping"] span.on {
    animation: flip .2s ease forwards;
}

/* Header related */

header {
    position: fixed;
    justify-content: right;
    right: 0;
    padding: 1em;
    margin: 1em;
}

header, nav {
    display: flex;
    align-items: center;
    gap: 2em;
}

header svg {
    width: 2em;
    height: 2em;
}

header path {
    stroke: rgb(0, 0, 0);
}

/* Canvas Related */

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Main related */

main {
    min-height: 100vh;
    max-width: 80em;
    padding: 1em;
    margin: auto;
    background-color: rgb(223, 225, 226);
}

window-project {
    display: block;
    width: fit-content;
    border-radius: var(--r-b0);
    border: 1px solid var(--c-g0);
    overflow: hidden;
}

window-project .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--c-g0);
}

window-project .topbar svg {
    height: 1em;
}

window-project div:has(>svg) {
    display: flex;
    gap: .5em;
}

window-project > * {
    padding: var(--p-b0);
}

/* Footer related */

footer {
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
}

footer > * {
    display: flex;
    flex-direction: column;
    margin: .5em;
}

footer > *:nth-child(n + 2) {
    border-left: 1px solid var(--c-g0);
    padding-left: 1em;
}